<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kerberos.Sots.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kerberos.Sots.Launcher.Properties.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Bloom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FocalBlur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Refraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AmbientOcclusion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextureQuality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AssetRoot" serializeAs="String">
                <value>..\..\assets\{0}</value>
            </setting>
            <setting name="AllowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssetBinRoot" serializeAs="String">
                <value>..\..\assets\{0}</value>
            </setting>
            <setting name="ComponentRoot" serializeAs="String">
                <value>..\..\assets</value>
            </setting>
            <setting name="ProceduralPlanets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Decals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Prefer64BitProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FXAA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwoLetterISOLanguageName" serializeAs="String">
                <value />
            </setting>
            <setting name="HomePageURL" serializeAs="String">
                <value>http://www.kerberos-productions.com/sots2_motd/index.html</value>
            </setting>
            <setting name="NetworkListenPort" serializeAs="String">
                <value>35000</value>
            </setting>
            <setting name="CustomNetworkSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkMTUAffinity" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowedFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Kerberos.Sots.Launcher.Properties.Settings>
    </userSettings>
</configuration>